absl-py
alembic
annotated-types
arm-mango
asttokens
astunparse
attrdict
beautifulsoup4
blinker
certifi
charset-normalizer
click
cmdstanpy
colorama
colorlog
comm
contourpy
cycler
Cython
debugpy
decorator
et-xmlfile
executing
fastjsonschema
Flask
flatbuffers
fonttools
gast
google-pasta
greenlet
grpcio
h5py
holidays
idna
importlib_resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
MouseInfo
namex
nest-asyncio
numpy
openpyxl
opt-einsum
optree
optuna
packaging
pandas
parso
patsy
pillow
platformdirs
plotly
prompt-toolkit
prophet
protobuf
psutil
pure-eval
PyAutoGUI
pydantic
pydantic-core
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
pytups
pytweening
pytz
pywhatkit
pywin32
PyYAML
pyzmq
requests
rich
scikeras
scikit-learn
scipy
seaborn
setuptools
six
soupsieve
SQLAlchemy
stack-data
stanio
statsmodels
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
tqdm
traitlets
typing-extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
wikipedia
wrapt
XlsxWriter
