body {
    margin: 0;
    background-color: #14181E;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    display: flex;
    align-items: center; /* Centra verticalmente en la página */
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport */
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #222832;
    color: #fff;
    height: 60px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    justify-content: center;
}

.header-container {
    width: 1500px;
    height: 60px;
    background-color: #fff;
    background-color: #222832;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-titulo {
    min-width: 55%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

.container-body { 
    display: flex;
    flex-direction: column;
    width: 1500px;
    align-items: center;
    flex: 1;
}

.leyenda { 
    align-self: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px;
}

footer {
    background-color:#222832;
    color: #fff;
    height: 70px;
    min-height: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-footer { 
    display: flex;
    width: 1500px;
    justify-content: space-between;
    align-items: center;

}

.leyenda-texto {
    justify-content: center;
    align-items: center;
}

.rojo-texto {
    color: red;
    font-size: 20px;
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    font-weight: 600;
}
.naranja-texto {
    color: orange;
    font-size: 20px;
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.amarillo-texto {
    color: yellow;
    font-size: 20px;
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    font-weight: 600;
}
.verde-texto {
    color: green;
    font-size: 20px;
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    font-weight: 600;
}
.azul-texto {
    color: blue;
    font-size: 20px;
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    font-weight: 600;
}
.blanco-texto {
    color: white;
    font-size: 20px;
    padding: 0%;
    margin-bottom: 0px;
    display: flex;
    font-weight: 600;
}

.leyenda-div {
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.texto-descripcion {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5px;
}

.nav { 
    display: flex;
    justify-content: space-between;
    width: 300px;
    vertical-align: middle;
    flex: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin: 0 5px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    padding: px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

nav ul li a.active {
    color: white;
    background-color: green;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.social svg {
    transition: fill 0.3s;
    fill: #fff;
}
.social svg:hover {
    fill: #ff9900; /* Cambia este color al que desees */
}
.styled-select {
    width: 150px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 1px;
    background-color: transparent; /* Fondo transparente */
    padding: 8px;
    font-size: 24px; /* Tamaño de fuente grande */
    color: #ffffff; /* Letra blanca */
    font-weight: 700; /* Negrita */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding: 1px 3px 10px 3px;
}

/* Estilo para las opciones del select */
.styled-select option {
    font-size: 18px; /* Tamaño de fuente para las opciones */
    background-color: #14181E; /* Fondo gris oscuro */
    color: #ffffff; /* Letra blanca */
    font-weight: 700; /* Negrita */
    border: 1px solid #fff;
}

.mb-4 {
    margin-top: 20px;
    margin-right: 20px;
}

.logo-container {
    flex: 0 0 auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.notfound-texto {
    display: flex;
    align-self: flex-start;
}

.info-zona { 
    display: flex;
    background-color: #bdf0fb;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #76a9b5;
    align-items: center;
}

.info-texto {
    margin-right: 10px;
    color: #012b38;
    font-weight: 600;
}

.info-zona p {
    color: #012b38;
}

.info-zona svg {
    margin: 10px;
    color: #012b38;
    font-weight: 600;
    width: 25px;
    height: 25px;
}

